NEXT_PUBLIC_SITE_URL=https://printmedesign.com
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=quotes@printmedesign.com
SENDGRID_ADMIN_EMAIL=printmetoronto@gmail.com
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
ADMIN_PORTAL_ENABLED=false
NEXT_PUBLIC_ANALYTICS_ID=
